<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <br/>
        <div class="mb-3">
            <label for="userNameEmail" class="form-label">Kullanıcı Adı veya Email</label>
            <input #txtUserNameOrEmail type="text" formControlName="userNameEmail" class="form-control" id="userNameEmail" aria-describedby="emailHelp" placeholder="Kullanıcı Adı veya E-posta">
            <!-- <small class="form-text text-mute invalid-feedback" *ngIf="submitted && component.userName.errors?.required">Lütfen kullanıcı adı giriniz.</small>
            <small class="form-text text-mute invalid-feedback" *ngIf="submitted && (component.userName.errors?.maxlength || component.userName.errors?.minlength)">Bu bölüm uzunluğu 3 - 50 kararkter olmalıdır..</small> -->
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Şifre</label>
            <input #txtPassword type="password" formControlName="password" class="form-control" id="password" placeholder="Şifre">
            <!-- <small class="form-text text-mute invalid-feedback" *ngIf="submitted && component.password.errors?.required">Lütfen şifre giriniz.</small> -->
        </div>
        <asl-google-signin-button></asl-google-signin-button>
        <br/>
        <button type="submit" class="btn btn-primary" (click)="Login(txtUserNameOrEmail.value, txtPassword.value)">Giriş Yap</button>
    </div>
    <div class="col-md-3"></div>
</div>